.about {
  /* height: 75vh; */
  padding-bottom: 48px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  margin-top: 50px;
  width: 330px;
  height: 340px;
  cursor: pointer;
  border-radius: 3%;
  border-color: aqua;
  border-style: solid;
  
}
.about-info {
  font-size: 24px;
}
.info-name {
  font-size: 32px;
  margin-right: 10px;
  color: blue;
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    width: 330px;
    height: 340px;
    border-radius: 50%;
    border-color: aqua;
    border-style: solid;
    align-items: center;
  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
}
