@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Poppins&display=swap");

.about {
  display: flex;
  justify-content: space-between;
}

.pic {
  width: 370px;
  height: 385px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  align-items: center;
  cursor: pointer;
}

.tempclass {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.intro-para {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.intro-para p {
  font-size: 17px;
  color: rgb(207, 207, 207);
  font-family: "Poppins", sans-serif;
  margin: 5px;
  /* color: #64ffda;
   */
}
.intro-para p1 {
  color: #64ffda;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px;
}
.education-extracircular {
  width: 100%;
  display: flex;
  justify-content: center;
}

.educat-extra {
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 10px 1px black;
  /* box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.1); */
  border-radius: 12px;
  background-color: #01152b;
  max-width: 400px;
  margin: 12px;
  /* flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1; */
}

.educat-extra ul {
  list-style-type: none;
}

.educat-extra ul li::before {
  content: "➤";
  color: #64ffda; /* Replace with your desired color */
  margin-right: 5px;
}

.educat-extra p2 {
  color: rgb(159, 159, 159);
}
@media only screen and (max-width: 720px) {
  .about {
    flex-direction: column;
    justify-content: center;
  }
  .education-extracircular {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
